/* NavBar.css */
@font-face {
    font-family: 'Futura';
    src: url('/path-to-fonts/Futura.woff2') format('woff2'),
         url('/path-to-fonts/Futura.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .text-default {
    color: #B4B2B9; /* Unhovered text color */
    font-family: 'Futura', sans-serif;
    font-weight: bold; /* Make text bold */
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .hover\:text-hovered:hover {
    color: #606060; /* Hovered text color */
  }
  
  .bg-blue-500 {
    background-color: #156ad2; /* Active background color */
  }
  
  .rounded-full {
    border-radius: 9999px; /* Circular shape */
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .space-x-8 > :not(:last-child) {
    margin-right: 2rem;
  }
  